<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="topnav">
        <a href="http://localhost:8080/v1/">Home</a>
        <a href="/v1/create" class="active">Create User</a>
        <a href="/v1/list-user">List User</a>
        <a href="#about">About</a>
    </div>

    <div class="form-add-new">
        <form action="/v1/create-user" method="POST">
            <fieldset>
                <legend>Dang ky</legend>
                <div class="input-group">
                    <label>Email:</label>
                    <input type="text" id="emailId" name="email">
                </div>
                <div class="input-group">
                    <label>Name:</label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label>City:</label>
                    <input type="text" name="city">
                </div>
                <!-- <input type="submit" value="Submit"> -->
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>